* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

/* .hero {
  display: none;
} */

.container {
  background-image: url(backgroundpetcares.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* width: 1280px;
  margin: 0 auto; */
}

header {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 100px 1fr;
  height: 100vh;
}

.container-center {
  width: 1200px;
  margin: 0 auto;
}

/* NAVIGATION */

.logo-text {
  font-size: 36px;
  font-weight: 900;
}

.navigation {
  font-size: 20px;
  font-weight: 600;

  display: flex;
  gap: 132px;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  grid-row: 1/-1;
  grid-column: 1/2;

  align-self: start;
  padding-top: 32px;
}

/* HERO SECTION */

.title {
  font-size: 50px;
  font-weight: 900;
}

.sub-title {
  font-size: 20px;
}

.btn {
  width: 153px;
  height: 46px;
  border: none;
  background-color: #fff;
  border-radius: 9px;

  font-size: 20px;
  font-weight: 600;
}

.img-placeholder {
  width: 580px;
  height: 500px;
  background-color: #e9ecef;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .hero-grid {
  grid-row: 2/-1;
  grid-column: 1;
} */

.hero {
  /* margin-top: 32px; */
  display: flex;
  justify-content: space-between;
  grid-row: 2/3;
  grid-column: 1/-1;
  align-self: start;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-side {
  justify-self: end;
  align-self: center;
  position: relative;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  gap: 32px;
}
