* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

/* .hero {
  display: none;
} */

header {
  background-image: url(backgroundpetcares.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.container-center {
  width: 1440px;
  margin: 0 auto;
}

/* NAVIGATION */

.logo-text {
  font-size: 36px;
  font-weight: 900;
}

.navigation {
  font-size: 20px;
  font-weight: 600;

  display: flex;
  gap: 132px;
}

nav {
  display: flex;
  justify-content: space-between;

  margin: 0 64px 0 64px;
  padding-top: 32px;
}

/* HERO SECTION */

.title {
  font-size: 50px;
  font-weight: 900;
}

.sub-title {
  font-size: 20px;
}

.btn {
  width: 153px;
  height: 46px;
  border: none;
  background-color: #fff;
  border-radius: 9px;

  font-size: 20px;
  font-weight: 600;
}

.img-placeholder {
  width: 646px;
  height: 679px;
  background-color: #e9ecef;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-side {
  justify-self: end;
  align-self: center;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  gap: 32px;
}
